body {
    font-family: sans-serif;
}
* {
    margin: 0;
    padding: 0;
    }
.wrapper{
    display: flex;
    flex-direction: column;    
}
.top{
    flex-grow: 1;
}
.container {
    max-width: 1140px;
    margin: 0 auto;  
}
.header_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(Pictures/illustration.png);
    background-repeat: no-repeat;
    background-position: right 158px;
    min-height:768px;
}
.header {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    min-height:768px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
    height: 48px;
    list-style-type: none;
}
.logo{
    margin-top: 6px;
}
.contacts_logo{
    margin-top: 5px;
}
.main_headline{
    margin-top: 115px;
    flex-grow: 1;
}
.headline_1{
    width: 504px;
    font-size: 64px;
    color: #1F3F68;
    letter-spacing: 0.04em;
    line-height: 74px;
    font-weight: 300;
    margin-bottom: 32px;
}
.headline{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headline_2{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.what-we-do {
    padding-top: 64px;
}

.headline_3{
    display:flex;
    justify-content: center;
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}
.articles_container{
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content:space-between;
}
.article_1{
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.img {
    align-self: center;
    margin-bottom: 51px;
}

.headline_4{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    margin-bottom: 14px;
    letter-spacing: 0.05em; 
}
.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}
.paragraph_1{
    width:425px;
}
.paragraph_results{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    text-align: center;
    color: #222222;
    margin: 32px auto 64px;
    width: 65%;
}
.picture-box-1{
    position: relative;
}
.picture{
    width: 100%;
}
.box-left{
    margin-right: 32px;
    position: relative;
}
.picture-box-2{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 32px;
}
.text-box-2  {
    font-size: 28px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF; 
}
.text-box-1{
    position: absolute;
    top: 64px;
    right: 64px;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF; 
}
.box-down{
    position: relative;
}
.text-box{
    position: absolute;
    top: 32px;
    left: 32px;
}
.learn_more{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration-line: none;
    margin-top: 28px;
}
.top_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;
    padding: 15px 50px;
    display: inline-block;
    margin-top: 71px;
}
.question{
    width: 495px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.headline_5{
    max-width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 64px;
    width: 100%;
}
.content{
    display: flex;
    justify-content: space-between ;
    
}
.map{
    min-width: max-content;
}
.inputs{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.submits{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer{
    background-color: #316099;
    margin-top: 112px;
}
.paragraph-down{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-top: 32px;
}
.border_question{
    display: flex;
    justify-content: space-between;
}
.question{
    margin-top: 91px;
    margin-bottom:96px;
}
.lets_talk{
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #5A98D0;
    padding: 15px 80px;
    box-sizing: border-box;
    align-self: center;
}
.line{
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}
.down-li{
    max-width: 359px;
    justify-items: flex-start;
    flex-grow: 1;
    flex-basis: 33.33333%;
    margin-left: 1em;
    padding-left: 25px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.copyrights{
    margin-top: 64px;
    padding-bottom: 64px;
}
.paragraph-copyrights{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;   
}

/* для страницы контактов*/

.headline{
    margin-top: 47px;
    background-image: url(Pictures/Background_header.png);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 250px;
    height: 100%;
}
.headline_2 {
    margin-top: 51px;
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.contacts_parafraph{
    margin-top: 16px;
    margin-bottom: 49px;
    max-width: 780px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.content {
    max-width: 940px;
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
}
.picture_info{
    width: 250px;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 300px;
}
.picture_info{
    width: fit-content;
    margin-top: 78px;
}
.address{
    margin-top: 40px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
}
.paragraph_info{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    list-style-position: inside;
    text-decoration: none;
}
.list_info{
    list-style-image:url(Pictures/phone.svg);
}
.list_info:last-child{
    margin-top: 16px;
}
.globe{
    list-style-image: url(Pictures/Globe.svg);
}
.envelope{
    list-style-image: url(Pictures/envelope.svg);
}
.form{
    width: 520px;
    height: 800px;
    padding: 56px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}
.headline_form{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
    margin-bottom: 48px;
}
.inputs{
    width: 100%;
    height: 72px;
    margin-top: 8px;
    margin-bottom: 32px;
}

.message{
    height: 144px;
    margin-bottom: 72px;
}
.submits_contact{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding:23px 175px ;
    max-width: fit-content;
    text-transform: uppercase;
}
.map {
    margin-top: 96px;
    max-width: 940px;
}

@media (max-width:1024px){
.container {
    margin-left: 32px;
    margin-right: 32px ;
    background-position: right 340px;
    background-size: 44%;
}
menu{
    margin-top: 28px;
}
.articles_container{
    flex-direction: column;
    align-items: center;
    padding-bottom: 95px;
}
.article_1{
    margin-bottom: 32px;
}
.column_footer{
    max-width: 520px;
    margin:0 auto;
}
.border_question{
    justify-content: space-between;
}
.lets_talk{
    padding: 2px 30px;
}
.question{
    width: 50%;
        margin-top: 47px;
    margin-bottom: 64px;
}
.headline_5{
    text-align: left;
    max-width: none;
}
.list{
    flex-direction: column;

}
ol.list{
     margin: 64px auto;
}
.down-li{
    margin-bottom: 25px;
}
.down-li:last-child{
    margin-bottom: 0px;
}

/* Для страницы контактов */

.content {
    flex-direction: column;
    align-items: center;
}
.map{
    margin-top: 64px;
    min-width: 375px ;

}
.container_none{
    margin-left: 0px;
    margin-right: 0px;
}
.footer{
    margin-top: 64px;
}
}



@media(max-width:667px){
.header{
min-height: 376px;
}
.container{
margin-left: 16px;
margin-right: 16px;
}
.menu{
    margin-top: 16px;
}
.main_headline {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headline_1{
    width: 100%;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.04em;
}
.paragraph{
    width: 100%;
    text-align: center;
}
.header_container{
    background-image: none;
    padding-bottom: 41px;
    min-height: 376px;
}
.top_button{
    margin-top: 32px;
    font-size: 12px;
    letter-spacing: normal;
    padding: 0px 10px;
    box-sizing: border-box;
}
.what-we-do{
    padding-top: 48px;
}
.headline_3{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: normal;
}
.articles_container{
    padding-top: 0;
    padding-bottom: 64px;
}
.article_1{
    margin-top: 32px;
    width: 100%;
}
.paragraph_results{
    width: 100%;
}
.text-box-1{
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
}
.text-box-2{
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    left: 16px;
}
.picture-box-2{
    margin-top: 16px;
    flex-direction: column;
    margin-top: 16px;
}

.box-left{
    margin-right: 0;
    margin-bottom: 16px;
}
.footer{
    margin-top: 64px;
}
.border_question{
    flex-direction: column;
    align-items: center;
}
.question{
margin-top:18px;
margin-bottom: 40px;
width: 100%;
}
.lets_talk{
    margin-bottom: 41px;
}
.headline_5{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: normal;
}
.paragraph{
    text-align: center;
}
.list{
    flex-direction: column;
}
.down-li{
    margin-bottom: 25px;
    line-height: 19px;
}
.copyrights{
    padding-bottom: 32px;
}

/* Для страницы контактов */

.form{
    width: 342px;
    height: fit-content;
    margin-top: 32px;
    padding: 36px;
    box-sizing: border-box;
}
.headline_form{
    font-size: 16px;
    margin-bottom: 31px;
}
.inputs{
    height: 46px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
}
.message{
    margin-bottom: 46px;
    height: 92px;
}
.submits_contact{
    padding: 10px 109px;
}
.container_none{
margin-left: 0px;
margin-right: 0px;
}
}